<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Allow local Supabase (http://10.0.2.2) during debug only -->
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic"/>
</manifest>
